.base_style {
  max-height: fit-content;
  width: 18rem;
  padding-bottom: 0.7rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--sand-2a);
  box-shadow: var(--level-2);
  transition: all 0.65s ease-in-out;
}

.base_style h5:first-child {
  padding: 0.5rem 2rem;
}

.base_style h5:nth-child(2) {
  font-size: 100%;
  padding: 0 1rem;
  align-content: center;
  align-items: center;
}

.base_style:hover {
  box-shadow: var(--level-4);
  background-color: var(--sand-3);
  color: var(--sadle);
}

.card_container {
  display: flex;
  flex-direction: column;
}

a,
a:visited,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  color: (--textColor);
}

/**  MEDIA QUERIES  **/

@media only screen and (max-width: 1500px) {
  .base_style,
  h5 {
    padding: 0.25rem 0.8rem;
    max-height: fit-content;
    max-width: fit-content;
    font-size: var(--small);
  }
}

@media only screen and (max-width: 1100px) {
  .base_style,
  h5 {
    padding: 0 0;
    max-height: fit-content;
    max-width: fit-content;
    margin-bottom: 1rem;
    font-size: var(--small);
  }
}

@media only screen and (max-width: 600px) {
  .base_style,
  h5 {
    max-height: fit-content;
    max-width: fit-content;
    margin-bottom: 1rem;
    font-size: var(--small);
  }
}
