.hero {
  background-image: url("../../images/anim_beach_1900.jpg");
  background-size: cover;
  height: 66vh;
  width: 100vw;
  background-position: center;
}

.logo h1 {
  --logoShad-1: 1px 1px 1px rgba(0, 24, 88, 0.5),
    1.5px 1.5px 1px rgba(0, 24, 88, 0.5);

  padding-left: 0.75rem;
  position: fixed;
  color: rgba(0, 24, 88, 1);
  text-shadow: var(--logoShad-1);
  transition: all 0.6s ease-out;
}

.scrolling h1 {
  --logoShad-2: 1px 1px 1px rgba(245, 130, 174, 0.5),
    1.5px 1.5px 1px rgba(0, 0, 0, 0.05);

  padding-left: 1.33rem;
  position: fixed;
  color: rgba(0, 24, 88, 0.7);
  text-shadow: var(--logoShad-2);
  transition: all 0.6s ease-out;
}

.grid_base {
  display: flex;
  flex-direction: row;
  max-height: 600px;
  padding: 2.5rem;
  justify-content: space-evenly;
}

.sec1 {
  margin-bottom: 650px;
}

.button {
  width: 12rem;
  font-family: var(--bodyFont);
  font-size: var(--h5);
  background-color: var(--teal-1);
  color: var(--textColor);
  transition: all 0.3s ease-in;
}

.button:hover {
  transition: all 0.3s ease-in;
  background-color: var(--mauve-2);
}

/***  Media Queries  ***/

@media only screen and (max-width: 520px) {
  .hero {
    background-image: url("../../images/anim_beach_mobile.jpeg");
    background-size: cover;
    height: 66vh;
    width: 100vw;
    background-position: center;
  }
}
