/* .hero {
  background-image: url("../../images/anim_beach_1900.jpg");
  background-size: cover;
  height: 66vh;
  width: 100vw;
  background-position: center;
}

.logo h1 {
  --logoShad-1: 1px 1px 1px rgba(0, 24, 88, 0.5),
    1.5px 1.5px 1px rgba(0, 24, 88, 0.5);

  padding-left: 0.75rem;
  position: fixed;
  color: rgba(0, 24, 88, 1);
  text-shadow: var(--logoShad-1);
  transition: all 0.6s ease-out;
} */

.input_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  padding: 1rem 2rem;
  text-align: center;
}

.inputMessage {
  color: var(--red1);
  font-size: 120%;
}

input {
  text-align: center;
  padding: 0.5rem 2rem;
}

/* .scrolling h1 {
  --logoShad-2: 1px 1px 1px rgba(245, 130, 174, 0.1),
    1.5px 1.5px 1px rgba(0, 0, 0, 0.15);

  padding-left: 1.33rem;
  position: fixed;
  color: rgba(192, 252, 249, 0.15);
  text-shadow: var(--logoShad-2);
  transition: all 0.6s ease-out;
} */

.grid_base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1.75rem;
}

.sec1 {
  margin-bottom: 650px;
}

.button {
  width: 12rem;
  font-family: var(--bodyFont);
  font-size: var(--h5);
  background-color: var(--teal-1);
  color: var(--textColor);
  transition: all 0.3s ease-in;
}

.button:hover {
  transition: all 0.3s ease-in;
  background-color: var(--mauve-2);
}

/* .footer {
  margin-top: 1rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  bottom: 0;
  text-align: center;
} */

/***  Media Queries  ***/

@media only screen and (max-width: 900px) {
  .grid_base {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  p {
    font-size: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    background-image: url("../../images/anim_beach_mobile.jpeg");
    background-size: cover;
    height: 33vh;
    width: 100vw;
    background-position: center;
  }

  .grid_base {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  p {
    font-size: 80%;
    margin-bottom: 0.25rem;
  }

  .footer h5 {
    font-size: 75%;
  }
}
