.forecast_main {
  display: flex;
  flex-direction: row;
  max-height: max-content;
}

.weather_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: auto;
  transition: all 0.5s ease-out;
}

.weather_block img {
  width: 70px;
  height: 70px;
}

.weather_div {
  max-width: 75px;
  padding: 0.4rem;
  background-color: rgba(139, 211, 221, 0.6);
  border: 0.2px solid var(--crete);
}

.weather_div:hover {
  --hoverShad: -0.8px -0.8px 0 rgba(101, 135, 54, 0.3),
    0.8px 0.8px 0 rgba(101, 135, 54, 0.3);
  box-shadow: var(--hoverShad);
}

.btm_wx {
  display: flex;
  height: 155px;
  flex-direction: column;
  justify-content: space-between;
}

.day_span {
  color: var(--sadle);
}

.wx_span {
  color: var(--brown-1);
}

.temp_span {
  font-size: 105%;
}

@media only screen and (max-width: 1550px) {
  .forecat_main,
  .weather_block {
    max-width: inherit;
  }
  .weather_block img {
    width: 55px;
    height: 55px;
  }
  .btm_wx {
    height: 155px;
  }
}

@media only screen and (max-width: 1100px) {
  .btm_wx {
    height: 155px;
  }
}

@media only screen and (max-width: 600px) {
  .wx_span {
    font-size: 70%;
  }
  .btm_wx {
    height: 115px;
  }
}
