.grid_base {
  height: 240px;
  max-height: min-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1.75rem;
  text-align: center;
}

.grid_base h4 {
  color: var(--mauve-1);
  text-shadow: 0.5px 0.5px 0px var(--blue-1);
}

.info_help {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.75rem;
  text-align: center;
}

.card {
  padding: 1rem;
}

.privacy_link {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.privacy_link h5 {
  border: 0.5px solid var(--red1);
  padding: 0.6rem;
}

@media only screen and (max-width: 500px) {
  .grid_base {
    height: 180px;
  }
  .grid_base h4 {
    font-size: var(--small);
  }
  .info_help {
    height: 420px;
  }
  .info_help h5 {
    font-size: var(--small);
  }
}
