.hero {
  background-image: url("../../images/anim_beach_1900.jpg");
  background-size: cover;
  height: 60vh;
  width: 100vw;
  background-position: center;
}

.logo h1 {
  --logoShad-1: 1px 1px 1px rgba(0, 24, 88, 0.5),
    1.5px 1.5px 1px rgba(0, 24, 88, 0.5);

  padding-left: 0.75rem;
  position: fixed;
  color: rgba(0, 24, 88, 1);
  text-shadow: var(--logoShad-1);
  transition: all 0.6s ease-out;
}

.scrolling h1 {
  --logoShad-2: 1px 1px 1px rgba(245, 130, 174, 0.1),
    1.5px 1.5px 1px rgba(0, 0, 0, 0.15);

  padding-left: 1.33rem;
  position: fixed;
  color: rgba(169, 247, 243, 0.55);
  text-shadow: var(--logoShad-2);
  transition: all 0.6s ease-out;
}
